*{
  margin: 0;
  padding: 0;
}

body{
  border: 1px solid black;
  width: 1000px;
  height: 100%;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.row {
  height: 9px;
  width: 1000px;
}
.cell{
  height: 9px;
  width: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.red:focus{
  background-color: red;
}
