*{
  margin: 0;
  padding: 0;
}

body{
  border: 1px solid black;
  width: 1000px;
  height: 100%;
}
.row {
  height: 15px;
  width: 1000px;
}
.cell{
  height: 15px;
  width: 15px;
  display: inline-block;
  /*border-style: solid;
  border-color: black;
  border: 0 1px 1px 0;*/
}

.red:focus{
  background-color: red;
}
